<!DOCTYPE html>
<html>

<head>
  <title>DontChat - <%= chatPath %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/chat.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
  <div id="chat" class="container">
    <div id="msgs" class="row"></div>
  </div>
  <div id="sender" class="container">
    <div class="row justify-content-left">
      <div id="chat-input" class="container col-12 col-md-10">
        <input type="text" class="form-control col-12" placeholder="nickname">
        <input type="text" class="form-control col-12" placeholder="message">
      </div>
      <button type="button" class="btn btn-success col-4 col-md-2">Send</button>
    </div>
  </div>
  <script src="javascripts/chat.js"></script>
</body>

</html>