<!DOCTYPE html>
<html>

<head>
  <title>Dont Chat</title>
</head>

<body>
  <input id="path" type="text" name="path">
  <input type="submit" onclick="return go();">
  <script type="text/javascript" src="javascripts/path-finder.js">
  </script>
</body>

</html>